body {
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    text-align: center;
    /* text-shadow: 3px 2px lightgray; */
    border-bottom: black solid 1px;
    margin: 0px;
    padding: 20px;
    padding-top: 25px;
}

ol {
    margin: 0;
    padding: 20px;
    width: 100px;
    border-right: black solid 1px;
    padding-left: 33px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#article {
    padding-left: 30px;
    padding-right: 25px;
}

@media (max-width: 600px) {
    #grid {
        display: block;

    }

    #grid ol {
        border-right: none;
    }

    #article {
        border-top: 1px solid black;
        margin: 0px;
        padding: 10px;
    }

    .main {
        margin: 0px;
        padding-top: 10px;
    }

}
